@media (max-width: 1300px) {
    .mainButton {
        padding: 10px 20px;
        font-size: 12px;
    }

    nav .nav-links {
        display: none;
    }

    header .carousel .carouselButtons {
        display: none;
    }

    header .booking {
        bottom: 30px;
        left: 30px;
        width: 80px;
        height: 80px;
    }

    header .booking img {
        width: 40%;
    }

    header .booking p {
        font-size: 10px;
    }

    #AboutUs .content {
        margin-bottom: 0;
    }

    #AboutUs .content p {
        width: initial;
        padding: 0 30px;
    }

    #AboutUs .row .item .img {
        width: 270px;
        margin: auto;
    }

    #AboutUs .row .part:nth-of-type(2) {
        margin-top: 0;
    }

    #OurStory .part p {
        padding: 0 30px;
        font-size: 14px;
    }

    #OurStory .part2 .item .rightImg {
        width: 40%;
    }

    #OurStory .part2 .item .leftImg {
        width: 60%;
    }

    #SpecialDish .part1 {
        height: 100vh;
    }

    #Menu .ka-content .item .unit {
        margin: auto;
    }

    #Menu .ka-content .item .unit .content .header {
        flex-direction: column;
        align-items: flex-start;
    }

    #Menu .ka-content .item .unit .content .header span {
        display: none;
    }

    #Menu .ka-content .item .unit .img-container {
        width: 80px;
        height: 80px;
    }

    #Menu .ka-content .item .line {
        display: none;
    }

    .popup .box {
        width: 300px;
        padding: 20px 30px;
    }

    .popup.menu .img span {
        padding: 8px;
        font-size: 12px;
        font-weight: 400;
    }

    .popup.menu .img .arrow {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    #OurChefs .chef .item {
        width: 300px;
        margin: auto;
    }

    #ContactUs .box {
        width: 300px;
    }

    #ContactUs>p {
        font-size: 13px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    .mainButton {
        font-size: 13px;
    }

    #AboutUs .row .item .img {
        width: 300px;
        margin: auto;
    }

    #Menu .ka-content .item .unit .img-container {
        width: 100px;
        height: 100px;
    }

    .popup .box {
        width: 400px;
    }
}


@media (min-width: 577px) and (max-width: 1300px) {
    .mainButton {
        font-size: 14px;
    }

    #OurStory .part p {
        padding: 0 50px;
    }


    #Menu .ka-content .item .unit .content .header {
        flex-direction: row;
        align-items: center;
    }

    #Menu .ka-content .item .unit .content .header span {
        display: block;
    }

    .popup.menu .img span {
        font-size: 14px;
    }

    .popUp.menu .img .arrow {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    #ContactUs .box {
        width: 400px;
    }

    #ContactUs>p {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {

    #OurStory .part p {
        padding: 0 10px;
    }

    #Menu .ka-content .item .unit .content .header {
        flex-direction: column;
        align-items: flex-start;
    }

    #Menu .ka-content .item .unit .content .header span {
        display: none;
    }

    #Menu .ka-content .item .line {
        display: none;
    }

    .popup .box {
        width: 500px;
        padding: 30px 40px;
    }

    #OurChefs .chef .item {
        width: initial;
    }

    #OurChefs .chef .item .img .layout ul li a i {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    #OurChefs .chef .item h2 {
        font-size: 20px;
    }

    #OurChefs .chef .item span {
        font-size: 10px;

    }

    #OurChefs .chef .item p {
        font-size: 12px;
    }

    #ContactUs .box {
        width: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {

    #AboutUs .content {
        margin-bottom: -50px;
    }

    #AboutUs .row .part:nth-of-type(2) {
        margin-top: 100px;
    }

    #OurStory .part2 .item .rightImg {
        width: 35%;
    }

    #Menu .ka-content .item .unit .content .header {
        flex-direction: row;
        align-items: center;
    }

    #Menu .ka-content .item .unit .content .header span {
        display: block;
    }

    #Menu .ka-content .item .unit .img-container {
        width: 80px;
        height: 80px;
    }

    #OurChefs .chef .item .img .layout ul li a i {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    #OurChefs .chef .item h2 {
        font-size: 29px;
    }

    #OurChefs .chef .item span {
        font-size: 12px;

    }

    #OurChefs .chef .item p {
        font-size: 14px;
    }
}