@keyframes moving {
    0% {
        width: 30px;
    }

    50% {
        width: 15px;
    }

    100% {
        width: 30px;
    }
}

@keyframes rotating{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes floating{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}

@keyframes loading{
    0% {
        opacity: 0;
        transform: rotateY(-90deg)
    }

    25% {
        opacity: 1;
        transform: rotateY(0)
    }

    50% {
        opacity: 1;
        transform: rotateY(0)
    }

    75% {
        opacity: 0;
        transform: rotateY(-90deg)
    }

    100% {
        opacity: 0;
        transform: rotateY(-90deg)
    }

}